<!DOCTYPE html>
<html>
<head>
   <meta  charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>eShop</title>
   <link href="style.css" rel="stylesheet">
</head>
<body>
   <div id="app">
      <header class="header">
         <div  class="header-wrapper wrapper">
            <div class="header-left-block">
               <p class="header-logo-name">e-Shop</p>
            </div>
            <div class="search-box" @submit.prevent="filter">
               
               <searchbox v-model="search" id="search-template"></searchbox>
               <button class="cart-button" id="search" v-on:click="filter">Искать</button>
            </div>
            <nav class="header-navbar">
               <a class="header-navbar-link" href="#">Каталог товаров</a>
               <a class="header-navbar-link" href="#">Доставка</a>
               <a class="header-navbar-link" href="#">Личный кабинет</a>
            </nav>
            <div class="header-right-block">
               <button class="cart-button" type="button" v-on:click="closeBasket">Закрыть</button>
               <button class="cart-button" type="button" v-on:click="showBasket">Корзина</button>
               <div class="cart-box-menu cartBoxMenu" v-if="basketVision"></div>
               <basket v-if="basketVision" @close="closeBasket">
                  <div class="cart-box-name">
                      <div class="cart-box-section">Название товара</div>
                      <div class="cart-box-section">Количество</div>
                      <div class="cart-box-section">Цена за штуку</div>
                      <div class="cart-box-section">Итого</div>
                  </div>
                  <div class="cart-box-total">Товаров в корзине на сумму: $<span class="cartTotalNumber">0</span></div>
               </basket>
            </div>
         </div>
      </header>
      <main class="main">
         <div class="main-wrapper wrapper">
            <div class="main-wrapper-header">
               <p class="main-header-text">Каталог товаров</p>
            </div>
            <div class="goods-list">
               <goods-item v-for="item in filteredGoods" :item="item"></goods-item>
               <!--<div class="goods-item" v-for="item in filteredGoods">
                  <h3 class = "goods-item-heading">{{ item.title }}</h3>
                  <p class = "goods-item-text">{{ item.price }}</p>
                </div>-->
            </div>
         </div>
         <div class="form-wrapper wrapper" >
            <h1 class="form-box-heading"> Форма обратной связи </h1>		 
            <form class="form-box" name="regform" onsubmit="return formValidation(event)">
               <h2 id="form-box__area__headline"></h2>
                  <p class="text-box">Имя: 
                    <input class="input-box" type="text" size=65 name="name" class="form-box__area">
                  </p>
                  <span class="error-text form-box__area"></span>	 
                  <p class="text-box">E-mail: 
                    <input class="input-box" type="text" size=65 name="email" class="form-box__area">
                  </p> 
                  <span class="error-text form-box__area"></span>	
                  <p class="text-box">Телефон: 
                    <input class="input-box" type="text" size=65 name="telephone" onclick="this.value=''" value="+7(000)000-0000" class="form-box__area">
                  </p>
                  <span class="error-text form-box__area"></span>	
                  <p class="text-box"> Комментарий: 
                    <textarea class="input-box" cols="55" name="comment" class="form-box__area"></textarea>
                  </p> 
                  <p>
                    <input type="submit" value="Отправить" name="submitButton">	 
                  </p>		 
            </form>  
         </div>
      </main>
      <footer class="footer">
         <div class="footer-wrapper wrapper">
            <p class="footer-copyrights">© 2021 Brand All Rights Reserved.</p>
         </div>
      </footer>
   </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="script.js"></script>
</body>
</html>